@import "tailwindcss";
@import "tw-animate-css";
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--color-foreground);
  background: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--background) 5%,
    var(--background) 99%,
    var(--primary) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: #F1F5F8;
  --foreground: #1C2B33;
  --primary: #0082FB;
  --secondary: #0064E6;

  --border: #657786;
  --input: #AAB8C2;
  --ring: #E1E8ED;
}

.dark {
  --background: #2a2a2a;
  --foreground: #c0c0c0;
  --primary: #ffc340;
  --secondary: #ff9800;

  --border: #454546;
  --input: #666666;
  --ring: #8c8c8c;
}

/* scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-input;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

section {
  @apply flex flex-col justify-center h-screen px-5 sm:px-20;
}

h2 {
  @apply text-2xl font-bold text-primary;
}

/* navbar */
nav ul li {
  @apply flex items-center justify-center cursor-pointer hover:bg-input hover:text-background transition-colors w-30;
}

nav ul li a {
  @apply flex items-center justify-center size-full;
}

/* input form */
form input,
form textarea {
  @apply shadow-xs bg-input border border-ring text-sm rounded-sm focus:ring-1 focus:ring-primary focus:border-primary block w-full p-2.5 outline-none;
}
