/* fuente Poppins */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.woff2") format("woff2");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@custom-variant dark (&:is(.dark *));

* {
  @apply scroll-smooth;
}

body {
  @apply font-display tracking-wide list-none no-underline min-h-screen bg-background text-foreground;
}

@theme {
  --font-display: "Inter", system-ui, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --neon: 0 0 10px var(--secondary);
}

:root {
  --background: #f7f9fc;
  --foreground: #1f2933;
  --primary: #60a5fa;
  --secondary: #2563eb;

  --border: #d1d5db;
  --input: #e5e7eb;
  --ring: #bfdbfe;
}

.dark {
  --background: #2a2a2a;
  --foreground: #d5d5d5;
  --primary: #ffc340;
  --secondary: #ff9800;

  --border: #666666;
  --input: #454546;
  --ring: #8c8c8c;
}

/* globales */
button,
a {
  @apply cursor-pointer active:scale-95;
}

/* barra de desplazamiento(no visible) */
::-webkit-scrollbar {
  display: none;
}

/* secciones */
section#About,
section#Projects,
section#Contact,
section#Skills {
  @apply flex flex-col justify-center min-h-auto md:min-h-[70vh] w-full max-w-[1200px] mx-auto px-4 md:px-6 mb-16 md:mb-24 scroll-mt-24;
}

/* titulos secciones */
h2 {
  @apply text-2xl font-semibold text-secondary mb-6 flex items-center gap-3;
}

h2 span {
  @apply w-1 h-8 bg-primary rounded;
}

h3 {
  @apply font-semibold text-primary;
}

/* botones de las redes sociales */
.social-btn {
  @apply inline-flex items-center justify-center px-5 py-2.5 text-sm font-medium text-center text-primary bg-transparent border-2 border-primary rounded-lg hover:bg-primary hover:text-background transition-colors duration-200 me-2 mb-2 mt-5;
}

/* entradas para el formulario */
form input,
form textarea {
  @apply shadow-xs bg-input border border-ring text-sm rounded-sm focus:ring-1 focus:ring-primary focus:border-primary block w-full p-2.5 outline-none;
}
