@import "tailwindcss";
/* @plugin "@midudev/tailwind-animations"; */

@plugin "flowbite/plugin";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--color-foreground);
  background: linear-gradient(
    to bottom,
    var(--secondary) 0%,
    var(--background) 5%,
    var(--background) 99%,
    var(--secondary) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --neon: 0 0 10px var(--secondary);
}

:root {
  --background: #e1e8ed;
  --foreground: #1c2b33;
  --primary: #0082fb;
  --secondary: #0064e6;

  --border: #657786;
  --input: #aab8c2;
  --ring: #e1e8ed;
}

.dark {
  --background: #2a2a2a;
  --foreground: #c0c0c0;
  --primary: #ffc340;
  --secondary: #ff9800;

  --border: #666666;
  --input: #454546;
  --ring: #8c8c8c;
}

/* globals */
button, a {
  @apply cursor-pointer;
}

/* scrollbar */
::-webkit-scrollbar {
  @apply hidden;
}

/* sections */
section#Projects, section#Contact, section#About, section#Skills {
  @apply flex flex-col justify-center h-screen w-full max-w-11/12 sm:max-w-9/12;
}

h2 {
  @apply text-2xl font-bold text-secondary mb-5;
}

h3 {
  @apply font-semibold text-primary;
}

/* navbar */
nav ul li {
  @apply flex items-center justify-center hover:bg-input hover:text-background transition-colors w-30;
}

nav ul li a {
  @apply flex items-center justify-center size-full;
}

/* social links */
.social-btn {
  @apply text-primary hover:text-background transition-colors border border-primary hover:bg-primary active:scale-95 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 mt-5;
}

/* contenedores de tecnologías y habilidades */
.tech-container {
  @apply flex justify-center items-center flex-wrap gap-6 bg-input rounded-lg relative min-h-45;
}

.tech-container h3 {
  @apply absolute top-6;
}

.tech-container img {
  @apply size-12 hover:scale-110 hover:drop-shadow-md hover:drop-shadow-secondary/50 transition-transform cursor-crosshair;
}

/* entradas para el formulario */
form input,
form textarea {
  @apply shadow-xs bg-input border border-ring text-sm rounded-sm focus:ring-1 focus:ring-primary focus:border-primary block w-full p-2.5 outline-none;
}


