@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--color-foreground);
  background: linear-gradient(
    to bottom,
    var(--primary) 0%,
    var(--background) 20%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* theme button */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: #e6faff;
  --foreground: #081b29;
  --primary: #155dfc;
  --secondary: #084562;

  /* theme button */
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: #081b29;
  --foreground: #e6faff;
  --primary: #155dfc;
  --secondary: #084562;
  --gradient: linear-gradient(
    to bottom,
    var(--secondary) 0%,
    var(--background) 20%
  );

  /* theme button */
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
}

/* scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full;
}

section {
  @apply h-screen px-5 sm:px-20;
}

h2 {
  @apply text-2xl font-bold text-primary;
}

/* input form */
form input,
form textarea {
  @apply shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-1 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-1 dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none;
}

form label {
  @apply text-gray-900 dark:text-white;
}
