::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="40" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top right / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 2s;
  transform-origin: top right;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 2s;
  transform-origin: top right;
}

/* Para sincronizar ambas capas, mantiene el mismo estado inicial y final (evita flash final) */
::view-transition-new(root),
::view-transition-old(root) {
  animation-fill-mode: both;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}
